@import "../../global.scss";

.topbar {
  font-family: "Poppins", sans-serif;
  background: #2280e4;
  width: 100% !important;
  height: 50px;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;

  .left {
    flex: 1;
    display: flex;
    padding: 10px;
    .deanDp {
      width: 200px;
      height: 40px;
    }
  }
  .center {
    position: fixed;
    display: list-item;
    z-index: 999;
    width: 66%;
    right: -66%;
    top: 0;
    background: rgba(20, 20, 20, 0.9);
    height: 100vh;
    padding: 1em;
    transition: right 0.3s ease-in-out;
    &.active {
      right: 0;

      font-size: 1.2em;
      .link {
        &:hover {
          background-color: none !important;
          color: rgb(255, 57, 57) !important;
        }

      }
      ul.list{
        &.loggedIn {
          .iconContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            margin-bottom: 8px;
            width: 35px;
            height: 30px;
            border-radius: 10px;
            background-color: white;
            color:black;
          }
        }
      }
    }

    li + li {
      margin: 20px 0px;
    }
    a {
      margin: 20px;
    }

    .item {
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
      list-style-type: none !important;
    }
  }

  .link {
    padding: 5px;
    border-radius: 5px;
  }
  .link:hover {
    color: white !important;
  }

  .closeIcon {
    width: 35px;
    height: 35px;
    filter: invert(99%) sepia(1%) saturate(21%) hue-rotate(71deg)
      brightness(106%) contrast(100%);
    &:hover {
      filter: invert(39%) sepia(41%) saturate(5773%) hue-rotate(338deg)
        brightness(104%) contrast(112%);
    }
  }
  #burger-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    filter: invert(99%) sepia(1%) saturate(21%) hue-rotate(71deg)
      brightness(106%) contrast(100%);
    &:hover {
      cursor: pointer;
      filter: none;
    }
  }
  .item {
    list-style-type: none !important;
  }
  li {
    link a {
      font-size: 1.3em;
    }
    .item {
      padding: 0.5 em;
    }
  }
}

@media only screen and (min-width: 840px) {
  .topbar {
    a.link {
      margin-right: 10px;
    }
  }
}

@media only screen and (min-width: 930px) {
  .topbar {
    display: flex;
    justify-content: center !important;
    .right {
      display: none;
    }
    .closeIcon {
      display: none !important;
    }
    #center {
      right: 0;
      display: flex;
      justify-content: center !important;
      height: 50px !important;
      top: initial;
      background: #2280e4;
      padding: 0;
      visibility: visible !important;
      width: 100vw !important;
    }

    .left {
      display: none !important;
    }
    .item {
      display: flex;
      height: auto !important;
      align-items: center;
    }
    ul.item {
      margin: 0 !important;
      padding: 0 !important;
      height: 50px !important;
    }
    ul.list {
      margin: 0;
      padding-left: 0 !important;
      padding-left: 4em;
      &.loggedIn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
      }
    }
    a.link {
      margin: 0 20px 0 0 !important;
      display: flex;

      padding: 5px;
      &:hover {
        background-color: #1f6fc4;
      }
    }
    .burger {
      display: none;
    }
    #burger-icon {
      margin: 0;
      display: none;
    }
    .closeIcon {
      display: none;
    }
    li.item {
      // margin-right: 10px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .loginBtn {
      font-weight: 500;
      background-color: white;
      color: #1f69ca !important;
      border-radius: 5px;
      a {
        margin: 0px !important;
      }
    }
    .deanDp {
      width: 10px !important;
      height: auto;
    }
    a span {
      display: none;
    }
    .deanDp {
      display: none;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .topbar {
    a span {
      display: default;
    }
  }
}
