.profile{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 241, 241);
    .title{
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        color: rgb(45, 45, 45);
        margin-top: 30px;
        margin-bottom: 10px;
        i{
            color: rgb(170, 255, 170);
        }
    }

    .wrapper{
        width: 40%;
        padding: 10px;
        padding-bottom: 60px;
        margin: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        .left{
            flex:1;
            border-radius: 7px;
            padding: 10px;
            display: flex;
            margin-top: 10px;
            min-height: 200px;
            justify-content: stretch;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            .inputContainer{
                width: 400px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: right;
                .inputItem{
                    display: flex;
                    margin: 10px;
                    justify-content: space-between;
                    p{
                        width: 200px;
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: 600;
                    }
                    label{
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 15px;
                    }
                    input{
                        font-size: 15px;
                        width: 225px;
                        height: 22px;
                        border: 1px solid rgb(53, 53, 53);
                        border-radius: 2px;
                        margin-left: 20px;
                        padding: 5px 10px;

                        &:focus{
                            outline: none;
                        }
                    }
                    span{
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 15px;
                    }
                    select{
                        width: 200px;
                        height: 22px;
                    }
                }
            }
        }
        .right{
            flex: 1;
            margin: 20px;
            text-align: center;
            .pendingNum{
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    font-size: 20px;
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 600;
                    margin-right: 15px;
                    margin-top: 20px;
                }
                .indicator{
                    display: block;
                    background-color: orange;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                }
            }
        }
        .btn{
            position: absolute;
            bottom: 0px;
            color: white;
            border: none;
            border-radius: 8px;
            padding: 2px 20px;
            margin-top: 40px;
            margin: 10px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            cursor: pointer;
        }
        .edit{
            right: 100px;
            background-color: orange;
        }
        .save{
            right: 100px;
            background-color: teal;
        }
    }
}
