.viewRequest {
    padding-top: 4%;
  min-height: 100vh;
  width: 100%;
  .leftColumn{
      margin-top: 16%;
      align-items: center;
  }
  .pdfPaper{
      padding-bottom: 4%;
      margin-bottom: 2%;
  }
  .actionPaper{
            height: 94%;
      margin-top: 7.5%;
      padding: 5% 0%;
      .actionTitle{
          text-align: center;
      }
      .noActions {
            text-align: center;
            margin-top: 3%;
            color: rgb(160, 160, 160);
      }
  }
  .pdfTitle {
    text-align: center;
    margin: 5% 5% 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    font-size: 2vw;
    padding-top: 4%;
    text-align: right;
    padding-bottom: 0%;
  }
  .mpImage {
    height: 2%;
    width: 12%;
    margin: 2% 0%;
  }
  .mainContainer {
    color: black;
    margin: 0% 5% 0% 5%;
    width: 90%;
    height: 60vw;
    border: 1px solid grey;
  }
  .sectionTitle {
    width: 100%;
    background-color: #72ddf7;
    padding: 1%;
    border: 1px solid grey;
    text-align: center;
    font-size: 1vw;
  }
  .flexTitleContainer {
    display: flex;
    flex-direction: row;
  }
  .flexContentContainer {
    display: flex;
    flex-direction: row;
  }
  .flexHeader {
    background-color: #b4e3ff;
    border: 1px solid grey;
    width: 25%;
    padding: 1%;
    text-align: center;
    font-size: .9vw;
  }
  .flexItem {
    border-color: grey;
    border: 1px solid grey;
    width: 25%;
    padding: 1%;
    text-align: center;
    font-size: .9vw;
  }
  .addressContainer {
    width: 100%;
  }
  .addressTitle {
    background-color: #b4e3ff;
    border: 1px solid grey;
    width: 100%;
    text-align: center;
    padding: 1%;
    font-size: .9vw;
  }
  .addressContent {
    border: 1px solid grey;
    width: 100%;
    padding: 2% 8% 2% 8%;
    font-size: .9vw;
    padding-right: 50%;
  }
  .requestDescription {
    font-size: .9vw;
    width: 100%;
    padding: 8%;
  }
  .attachedDocs {
    padding: 10% 4%;
    min-height: 20vh;
    .docsList {
      padding-top: 2%;
    }
    h5 {
      text-align: center;
    }
    a {
      text-decoration: none;
      font-weight: 500;
      font-style: italic;
    }
    li {
      list-style: none;
    }
  }
}

@media only screen and(max-width:899px) {
  .viewRequest {
    min-height: 100vh;
    width: 100%;
    .leftColumn{
        margin-top: 20%;
    }
    .actionPaper{
            height: auto;
        margin-top: 7.5%;
        margin-bottom: 20%;
        padding: 5% 0%;
        .actionTitle{
            text-align: center;
        }
        .noActions {
              text-align: center;
              margin-top: 3%;
              color: rgb(160, 160, 160);
        }
    }
    .title {
      font-size: 4vw;
    }
    .mainContainer {
      height: 120vw;
    }
    .sectionTitle {
      font-size: 2vw;
    }
  .flexHeader {
    font-size: 1.8vw;
  }
  .flexItem {
    font-size: 1.8vw;
  }
  .addressTitle {
    font-size: 1.8vw;
  }
  .addressContent {
    font-size: 1.8vw;
  }
  .requestDescription {
    font-size: 1.8vw;
  }
  }
}

@media only screen and(max-width:583px) {
        .attachedDocs{
          width: 96%;
        }
        .pdfPaper{
          width: 96%;
          margin-left: 2%;
        }
        .actionPaper{
          width: 96%;
          margin-left: 2%;
        }
}

