


.start2{
  
    margin-top: 50px;
    box-sizing: border-box;
   text-align: center;
   font-family: 'Lora', sans-serif ;
   .h1{ 
    color: #1c3d65;
    font-weight: 900;
    letter-spacing: 1px;
} 
h6{
    margin: 0 auto;
    border: 4px solid #eda909;
    width:30px; 
    border-radius: 5px;
    margin-bottom: 10px;
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
    width:300px;
} 
.p{ display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    .abou{
    color:#1c3d65;
    font-size: 23px;
    font-weight: 700;
    .s{
        color: #eda909;
    }
}}
   .sec{
       border:1px solid #1c3d80;
       background-color: #1c3d65;
       box-shadow: 0px 0px 3px #1c3d65 ;
       color:white;
       padding: 15px; 
       font-size:15px;
       letter-spacing: 1px;
       transition: background-color,transform 0.2s linear;
       
       .icon{
        font-size: 30px;
           color:#eda909;
       }
       .heading{
           font-weight: 700;
           font-size: 25px;
           color:white;
       }
        

   }
   .sec:hover{
    border:2px solid #eda909;
       background-color:#eda909;
       box-shadow: 0px 0px 3px #eda909 ;
       transform: scale(1.05);
       .icon{
          
           color:#1c3d65;
       }
       h6{
           border-color: #1c3d65;
       }
   }
}


@media (max-width:768px){
    .sec{
     margin: 0 auto;
    }
}