.footer{
    overflow-x: hidden;
    height: 50px;
    width: 100%;
    background-color: rgb(51, 48, 48);
    color:white;
    position: absolute;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    span{
        margin: 0 5px;
        padding: 0;
        a{
            img{
                width: 100px;
            }
        }
    }
}