.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-1 {
  justify-content: center;
}
.img1 {
  width: 90% !important;
}
.img2 {
  width: 40vw !important;
  max-width: 350px;
}
.img3 {
  width: 40vw !important;
  max-width: 350px;
}
.img2-3 {
  display: flex;
  justify-content: space-evenly;
}
.media-page {
  width: 100vw !important;
  text-align: center;
  font-family: lora;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100vw !important;
  margin-top: 10px;

  h1 {
    font-weight: bold;
    font-family: poppins;
    text-transform: uppercase;
    text-align: center;
    span {
      color: grey;
    }
  }
}
.img-caption {
  padding: 1em;
  margin: 1em 0 !important;
  background-color: rgb(216, 213, 213);
  p {
    font-size: 1.1em;
  }
}

.video-embed {
  background: rgb(216, 213, 213);
  margin: 2em 0;
  padding: 1.8em !important;
  justify-content: center !important;
  align-items: center;
  iframe {
    width: 90%;
  }
  h3 {
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 0;
    span {
      color: grey;
    }
    .golden-span {
      color: gold;
    }
  }
}
.heading {
  font-family: poppins;
  text-align: center;
  padding: 10px;
  margin-top: 1.6em;
}
// .videos {

//   background-color: rgb(216, 213, 213);
// }

@media only screen and (min-width: 1325px) {
  .videos {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    .video-embed {
      margin-top: 0;
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
@media only screen and (min-width: 1140px) {
  .videos {
    padding: 0 4em !important;
  }
  .img-caption {
    p {
      font-size: 16px !important;
    }
  }
  .flex-group {
    padding: 0 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .img-caption {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    img {
      padding: 10px;
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}
